.account {
  text-align: center !important;
}

@mixin ellipsisOverflow() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-overflow {
  @include ellipsisOverflow();
}

.timezone {
  $width: 240px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  width: 280px;
  height: 200px;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  position: relative;
  .inner-timezone {
    display: flex;
    height: 100%;
    flex-direction: column;
    header {
      @include ellipsisOverflow();
      font-size: 18px;
      width: $width;
    }
    main {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 30px;
    }
    footer {
      display: flex;
      justify-content: center;
    }
    input {
      top: 0;
      left: 0;
      padding: 5px;
    }
    .name-input {
      width: $width;
      input {
        width: $width;
      }
    }
    .dropdown {
      width: 240px;
    }
  }
  .buttons {
    position: absolute;
    right: 0;
    top: 10px;
    .edit {
      color: #005900;
    }
    .delete {
      color: #610000;
    }
  }

}
