html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

#app {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
  > div:first-child{
    height: 100%;
  }
}

@import "pages/manifest";
